@font-face {
  font-family: "Poppins", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
html {
  background: #fff;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.all-container {
  width: 100vw;
}

/************************* Navbar  **********************/
.hidden {
  display: none;
}
.navbar {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 10vh;
  margin-top: 30px;
}
.logo {
  white-space: nowrap;
  flex-shrink: 0;
  user-select: none;
  letter-spacing: 2px;
  font-weight: 300;
  font-family: "Poppins", sans-serif;
}
.nav__list {
  display: flex;
  list-style: none;
  gap: 20px;
  transition: 1s;
}

.nav__link {
  text-decoration: none;
  font-size: 22px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  letter-spacing: 1px;
  color: #000;
  transition: 0.4s;
}
.nav__link:hover {
  opacity: 0.6;
}
.nav__link:active {
  opacity: 0.3;
}
/************************* Home **********************/
.home {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-container {
  position: absolute;
  top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 200px;
}
.my-photo {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  overflow: hidden;
}
.my-photo img {
  position: relative;
  width: 350px;
}
.my-about-text-title {
  text-align: center;
  width: 300px;
  height: 360px auto;
  gap: 10px;
  display: flex;
  flex-direction: column;
}
.my-about-text-title h1 {
  text-transform: capitalize;
  width: 300px;
  font-size: 32px;
  font-family: "Poppins", sans-serif;
  letter-spacing: 1px;
}

.my-about-text-title .p-one {
  font-family: "Poppins", sans-serif;
  font-size: 22px;
  color: #504f4f;
}
.p-two {
  font-family: "Poppins", sans-serif;
  font-size: 22px;
  color: #504f4f;
}
.buttons {
  margin-top: 30px;
}
.buttons a {
  text-decoration: none;
  border: 1px solid #000;
  font-family: "Poppins", sans-serif;
  padding: 14px 17px;
  cursor: pointer;
  border-radius: 25px;
  transition: 0.4s;
}
.one-btn {
  color: #000;
  background: #fff;
}
.two-btn {
  background: #000;
  color: #fff;
}

.one-btn:hover {
  background: #000;
  color: #fff;
}
.two-btn:hover {
  color: #000;
  background: #fff;
  border: 1px solid #fff;
}
.network-container {
  margin-top: 50px;
  gap: 30px;
  display: flex;
  justify-content: center;
}
.network-container img {
  transition: 0.5s;
}

.network-container img:hover {
  transform: translateY(-5px);
}
/************************* About **********************/

.text-title-my-about {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 650px;
  margin-bottom: 50px;
}
.about-me {
  position: absolute;
  font-family: "Poppins", sans-serif;
}
.about {
  position: relative;
  top: -50px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.photo-bg img {
  border-radius: 12px;
  width: 330px;
  margin-right: 20px;
}
.card-box {
  display: flex;
  gap: 15px;
}

.card-box .card {
  width: 350px;
  height: 200px;
  border-radius: 8px;
  border: 2px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
}
.langue {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

.langue-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  letter-spacing: 1px;
}
.langue-card img {
  transition: 0.5s;
  width: 40px;
  height: 40px;
}
.langue-card img:hover {
  transform: translatey(-7px);
}
.experience {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.about-container {
  display: flex;
}
.text-title {
  text-align: center;
  margin-top: 20px;
  font-family: "Poppins", sans-serif;
}
.text-title h1 {
  margin-top: 50px;
}
.text-title p {
  margin-top: 30px;
  width: 700px;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  text-align: left;
  letter-spacing: 1px;
  line-height: 35px;
}
