@media only screen and (max-width: 580px) {
  body,
  html {
    overflow-x: hidden;
  }

  .toggle {
    position: absolute;
    right: 9%;
    display: inline;
  }
  .logo {
    position: absolute;
    left: 7%;
  }

  .nav__list {
    position: absolute;
    flex-direction: column;
    text-align: center;
    top: 0px;
    right: 0px;
    width: 50%;
    background: rgba(255, 138, 4, 0.993);
    height: 100vh;
    transform: translateX(100%);
  }
  .nav__toggle {
    transform: translateX(-0%);
    z-index: 999;
  }
  .nav__item {
    margin-top: 70px;
  }

  .nav__link {
    text-decoration: none;
    font-size: 23px;
    font-family: "Josefin Slab", serif;
    font-weight: 500;
    letter-spacing: 1px;
  }

  .close__btn {
    position: absolute;
    display: block;
    left: 10%;
    top: 2%;
    cursor: pointer;
  }

  /* ******************* HOME ********************* */

  .home {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90vh;
  }
  .home-container {
    position: absolute;
    top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    gap: 20px;
    z-index: 1;
  }
  .my-photo {
    width: 250px;
    height: 250px;
    border-radius: 100%;
    margin-left: 20px;
    overflow: hidden;
  }
  .my-photo img {
    width: 250px;
  }
  .my-about-text-title {
    position: relative;
    top: 20px;
    text-align: center;
    width: 300px;
    height: 360px auto;
    gap: 10px;
    display: flex;
    flex-direction: column;
  }
  .my-about-text-title h1 {
    text-transform: capitalize;
    width: 280px;
    font-size: 30px;
    font-family: "Poppins", sans-serif;
    letter-spacing: 1px;
  }

  .my-about-text-title .p-one {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    color: #504f4f;
  }
  .p-two {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    color: #504f4f;
  }
  .buttons {
    margin-top: 30px;
  }
  .buttons a {
    text-decoration: none;
    border: 1px solid #000;
    font-family: "Poppins", sans-serif;
    padding: 14px 17px;
    cursor: pointer;
    border-radius: 25px;
    transition: 0.4s;
  }
  .one-btn {
    color: #000;
    background: #fff;
  }
  .two-btn {
    background: #000;
    color: #fff;
  }

  .one-btn:hover {
    color: #000;
    background: #fff;
  }
  .two-btn:hover {
    background: #000;
    color: #fff;
  }
}
@media (min-width: 580px) and (max-width: 895px) {
  .home-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 50px;
  }
  .my-photo {
    width: 240px;
    height: 240px;
    border-radius: 100%;
    margin-left: 20px;
    overflow: hidden;
  }
  .my-photo img {
    width: 240px;
  }
}
