@media only screen and (max-width: 580px) {
  body,
  html {
    overflow-x: hidden;
  }

  .toggle {
    position: absolute;
    right: 9%;
    display: inline;
  }

  .logo {
    position: absolute;
    left: 7%;
  }

  .nav__list {
    position: absolute;
    flex-direction: column;
    text-align: center;
    top: 0px;
    right: 0px;
    width: 50%;
    background: rgba(255, 138, 4, 0.993);
    height: 100vh;
    transform: translateX(100%);
  }

  .nav__toggle {
    transform: translateX(-0%);
    z-index: 999;
  }

  .nav__item {
    margin-top: 70px;
  }

  .nav__link {
    text-decoration: none;
    font-size: 23px;
    font-family: "Josefin Slab", serif;
    font-weight: 500;
    letter-spacing: 1px;
  }

  .close__btn {
    position: absolute;
    display: block;
    left: 10%;
    top: 2%;
    cursor: pointer;
  }

  /* ******************* HOME ********************* */

  .home {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 600px;
  }

  .home-container {
    position: absolute;
    top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    gap: 20px;
  }

  .my-photo {
    width: 250px;
    height: 250px;
    border-radius: 100%;
    margin-left: 20px;
    overflow: hidden;
    z-index: 1;
  }

  .my-photo img {
    width: 250px;
  }

  .my-about-text-title {
    position: relative;
    top: 20px;
    text-align: center;
    width: 300px;
    height: 360px auto;
    gap: 10px;
    display: flex;
    flex-direction: column;
  }

  .my-about-text-title h1 {
    text-transform: capitalize;
    width: 280px;
    font-size: 30px;
    font-family: "Poppins", sans-serif;
    letter-spacing: 1px;
  }

  .my-about-text-title .p-one {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    color: #504f4f;
  }

  .p-two {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    color: #504f4f;
  }

  .buttons {
    margin-top: 30px;
  }

  .buttons a {
    text-decoration: none;
    border: 1px solid #000;
    font-family: "Poppins", sans-serif;
    padding: 14px 17px;
    cursor: pointer;
    border-radius: 25px;
    transition: 0.4s;
  }

  .one-btn {
    color: #000;
    background: #fff;
  }

  .two-btn {
    background: #000;
    color: #fff;
  }

  .one-btn:hover {
    color: #000;
    background: #fff;
  }

  .two-btn:hover {
    background: #000;
    color: #fff;
  }

  /* ********************About ***************************/
  .text-title-my-about {
    position: relative;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .about-me {
    position: relative;
    font-family: "Poppins", sans-serif;
    margin-top: 50px;
  }

  .about {
    position: relative;
    top: 0;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20px;
  }

  .about-container {
    display: flex;
    flex-direction: column;
  }

  .photo-bg img {
    display: none;
  }

  .card-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }

  .card-box .card {
    width: 330px;
    height: 200px;
    border-radius: 8px;
    border: 2px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Poppins", sans-serif;
  }

  .langue {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
  }

  .langue-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    letter-spacing: 1px;
    margin-left: 5px;
    font-size: 15px;
  }

  .langue-card img {
    transition: 0.5s;
    width: 35px;
    height: 35px;
  }

  .langue-card img:hover {
    transform: translateY(-7px);
  }

  .experience {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .text-title {
    text-align: center;
    margin-top: 20px;
    font-family: "Poppins", sans-serif;
  }

  .text-title h1 {
    margin-top: 50px;
  }

  .text-title p {
    margin-top: 30px;
    margin-left: 30px;
    width: 330px;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    text-align: left;
    letter-spacing: 1px;
    line-height: 35px;
  }
  .table-btn {
    display: none;
  }
  .project {
    top: -180px;
  }
  .slider-container {
    width: 380px;
    left: -20px;
  }
  .btn-slider {
    top: 90%;
  }
  .card-slide {
    width: 330px;
    height: 480px;
  }
  .screen-btn {
    display: block;
  }
  .slide-left-btn {
    position: absolute;
    background: #fff;
    right: 50px;
  }
  .slide-right-btn {
    background: #fff;
  }
}

@media (min-width: 580px) and (max-width: 690px) {
  .home-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 10px;
  }

  .home {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 400px;
  }

  .my-photo {
    width: 240px;
    height: 240px;
    border-radius: 100%;
    margin-left: 20px;
    overflow: hidden;
  }

  .my-photo img {
    width: 240px;
  }

  /* ********************About ***************************/
  .text-title-my-about {
    position: relative;
    width: 100%;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .about-me {
    position: relative;
    font-family: "Poppins", sans-serif;
  }

  .about {
    position: relative;
    top: -80px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .about-me-box {
    position: relative;
    display: flex;
  }

  .about-container {
    display: flex;
  }

  .photo-bg img {
    display: none;
  }

  .card-box {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .card-box .card {
    width: 280px;
    height: 200px;
    border-radius: 8px;
    border: 2px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Poppins", sans-serif;
  }

  .langue {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
  }

  .langue-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    letter-spacing: 1px;
    margin-left: 5px;
    font-size: 15px;
  }

  .langue-card img {
    transition: 0.5s;
    width: 35px;
    height: 35px;
  }

  .langue-card img:hover {
    transform: translateY(-7px);
  }

  .experience {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .text-title {
    text-align: center;
    margin-top: 20px;
    font-family: "Poppins", sans-serif;
  }

  .text-title h1 {
    margin-top: 10px;
  }

  .text-title p {
    margin-left: 30px;
    width: 250px;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    text-align: left;
    letter-spacing: 1px;
    line-height: 35px;
  }
  .project {
    top: -250px;
  }
  .slider-container {
    width: 450px;
    left: -20px;
  }
  .btn-slider {
    top: 35%;
  }
  .slide-left-btn {
    width: 40px;
    left: 150px;
  }
  .slide-right-btn {
    width: 40px;
  }
  .card-slide {
    width: 400px;
    height: 500px;
    margin-left: 75px;
  }
}

@media (min-width: 690px) and (max-width: 1090px) {
  .text-title-my-about {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .about-me {
    position: relative;
    font-family: "Poppins", sans-serif;
    height: 50px;
  }

  .about-me-box {
    position: relative;
    top: 130px;
  }
  .my-photo {
    width: 240px;
    height: 240px;
    border-radius: 100%;
    margin-left: 20px;
    overflow: hidden;
    z-index: 1;
  }

  .my-photo img {
    width: 240px;
  }

  .home-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 150px;
  }

  .about {
    height: 400px;
  }

  .home {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 500px;
  }

  .photo-bg img {
    display: none;
  }

  .navbar {
    height: 70px;
  }

  .project {
    top: -250px;
  }
  .slider-container {
    width: 750px;
    left: -20px;
  }
  .btn-slider {
    top: 35%;
  }
  .slide-left-btn {
    width: 40px;
    left: 150px;
  }
  .slide-right-btn {
    width: 40px;
    right: -0px;
  }
  .card-slide {
    width: 300px;
    height: 500px;
    margin-left: 52px;
  }
}
